<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<section
  class="section section-bg"
  id="call-to-action"
  style="background-image: url(assets/images/banner-image-1-1920x500.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="cta-content">
          <br />
          <br />
          <h2>Feel free to <em>Contact Us</em></h2>
          <p>
            Ut consectetur, metus sit amet aliquet placerat, enim est ultricies
            ligula
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="contact-us" style="margin-top: 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div id="map">
          <iframe
            src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
            width="100%"
            height="400px"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div
          class="contact-form section-bg"
          style="background-image: url(assets/images/contact-1-720x480.jpg)"
        >
          {{ form_start(form) }}
          {{ form_row(form._token) }}
          <div class="row">
              <div class="col-md-12" id="qr" >
                <img src="{{ qr_code_url('Votre réclamation') }}" />

              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <fieldset>
                {{ form_widget(form.reservation,{"attr" : {'Placeholder' : "Réservation" ,  "class" : 'form-control'

                }}) }}
                <span style="color: red">
                  {% for error in errors %} {% if error.propertyPath ==
                  "reservation" %} * {{ error.message }} {% endif %} {% endfor
                  %}</span
                >
              </fieldset>
            </div>
            <br />
            <br>
            <br>
            <br>
            
            <h3>Evaluation</h3>
            <div class="col-md-12 col-sm-12">
              <fieldset>
                <br>
                <div class="stars" style="font-size:larger">
                  <i class="lar la-star" data-value="1"></i
                  ><i class="lar la-star" data-value="2"></i
                  ><i class="lar la-star" data-value="3"></i
                  ><i class="lar la-star" data-value="4"></i
                  ><i class="lar la-star" data-value="5"></i>
                </div>
                {{ form_widget(form.evaluation,{"attr" : {'Placeholder' : "Evaluation" ,  "class" : 'form-control' , 'hidden' : true

                }}) }}
                <span style="color: red">
                  {% for error in errors %} {% if error.propertyPath ==
                  "evaluation" %} * {{ error.message }} {% endif %} {% endfor
                  %}</span
                >
              </fieldset>
              <br>
            <br>
            </div>
            
            <div class="col-lg-12">
              <fieldset>
                {{ form_widget(form.commentaire , {"attr" : {"class" : 'form-control' , 'placeholder' : 'Commentaire'

                }}) }}
                <span style="color: red">
                  {% for error in errors %} {% if error.propertyPath ==
                  "commentaire" %} * {{ error.message }} {% endif %} {% endfor
                  %}</span
                >
              </fieldset>
            </div>
            <br />
            <div class="col-lg-12" style="margin-top: 50px">
              <fieldset>
                <button
                  type="submit"
                  id="form-submit"
                  class="main-button"
                  formnovalidate
                >
                  Réclamer
                </button>
              </fieldset>
            </div>
          </div>
          {{ form_end(form, { render_rest: false }) }}
        </div>
      </div>
    </div>
  </div>
</section>

<script>	
  window.onload = () => {
    // On va chercher toutes les étoiles
    const stars = document.querySelectorAll(".la-star");
    
    // On va chercher l'input
    const note = document.querySelector("#reclamation_evaluation");

    // On boucle sur les étoiles pour le ajouter des écouteurs d'évènements
    for(star of stars){
        // On écoute le survol
        star.addEventListener("mouseover", function(){
            resetStars();
            this.style.color = "red";
            this.classList.add("las");
            this.classList.remove("lar");
            // L'élément précédent dans le DOM (de même niveau, balise soeur)
            let previousStar = this.previousElementSibling;

            while(previousStar){
                // On passe l'étoile qui précède en rouge
                previousStar.style.color = "red";
                previousStar.classList.add("las");
                previousStar.classList.remove("lar");
                // On récupère l'étoile qui la précède
                previousStar = previousStar.previousElementSibling;
            }
        });

        // On écoute le clic
        star.addEventListener("click", function(){
            note.value = this.dataset.value;
        });

        star.addEventListener("mouseout", function(){
            resetStars(note.value);
        });
    }

    /**
     * Reset des étoiles en vérifiant la note dans l'input caché
     * @param {number} note 
     */
    function resetStars(note = 0){
        for(star of stars){
            if(star.dataset.value > note){
                star.style.color = "black";
                star.classList.add("lar");
                star.classList.remove("las");
            }else{
                star.style.color = "red";
                star.classList.add("las");
                star.classList.remove("lar");
            }
        }
    }
}
</script>
