
{% block body %}


<h1 style="text-align: center"> Liste des Evenement </h1>
<br>



<!DOCTYPE html>
<html>
<head>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 2px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4c7aaf;
            color: yellow;
        }
    </style>
</head>



<table border ="1" id="customers" width="60%" height="120" >
    <tr>

                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieux</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>GatName</th>


    </tr>
    <tbody id="all">
    {% for evenement in evenement %}
        <tr>

              <td>{{ evenement.id }}</td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.lieux }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.gatName }}</td>

        </tr>


    {%endfor%}




    {% endblock %}

